/* main styles */
main{
    margin:116px auto 0;
    padding: 0 150px;
    
    
}
/* nav styles */



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    width: 100% ;
    margin: 0 auto 158px;
    
}

/* header styles */
header {
    padding: 0 150px;

    background-image: url(/B12A01-landing-launchpad/Assets/Hero-bg.png);
    background-size: cover;

}

/* banner styles */
.banner {


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100%;
    max-width: 905px;
    margin: 0 auto 152px;
}
/* action styles */
.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:132px 125px 176px 77px ;
    width: fit-content;


    
    
    }
.action-content {
    max-width: 517px;
    margin: 62.5px 220px 0;
    
     width:100%;

    

}
.action h3 {
    font-size: 42px;
    margin-bottom: 23px;;
}
.action-image {
    width: 100%;
    max-width: 403px;
    height: 100%;
    max-height: 328px;
    border-radius: 48px;
}
.action p{
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size :24px;
    color:#25243274;
    margin: 24px 0 48px;
}
.action button {
    width: 229px;
    height: 48px;
    background-color: #4E47FF;
}
/* joined user styles */
.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:0 173px 127px 160px;
    padding: 50px 142px;

    background-color: #4d47ff2e;
    max-width: 1140px;
    max-height: 306px;
    gap: 40px;
    border-radius: 24px;

    
  
}
.ju{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 158px;
    padding: 0 0;
    max-width: 856px;
    max-height: 206px;
    

    

    
   
}
.ju-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0;
    max-width: 180px;
    
    
}

#joined{
    font-size: 38px;
}
.ju h3{
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 80px;
    color:#5049FF;
    margin-bottom: 40px;
    max-width: 856px;
    max-height: 45px;

}
.ju p{
    font-family: Inter, sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #00000077;
    

}


/* shared  styles */
.primary-color {
    color: #5049FF;
}

.btn-primary {
    background-color: #4E47FF;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}

.blue-1 {
    color: #5049FF;
}

.font-inter {
    font-family: Inter, sans-serif;
    font-size: 34px;
    color: #5049FF;
}

.font-raleway {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    color: #252432;
}

/* individual styles */
#nav-btn {
    height: 48px;
    width: 132px;
}

.banner button {
    width: 174px;
    height: 48px;
    margin-bottom: 152px;


}

.banner h4 {
    font-size: 65px;


}

nav h3 {
    max-width: 99px;
}

